body{
    background: #ececec;
}

.wrap{
    padding:0 30px;
}

.index-card{
    padding: 50px 50px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.index-card:hover{
    border:1px solid #e66;
}
.index-card p{
    color: #000;
}

.index-card p:hover{
    color: #e66;
}


.container{
    max-width: 1440px;
    margin:0 auto;
}

.border-1{
    border:1px solid #e3e3e3;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding: 30px;
    margin-bottom:30px;
    background: #ffffff;
}

.title{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    line-height: 50px;
    background: #3bb4f2;
    margin-bottom: 20px;
    color: #ffffff;

}

.form-span-error{
    color: #e66;
}

.login{
    background: url(../img/bg.jpg);
    background-size: cover;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}

.login .form{
    padding: 30px;
    background: rgba(255,255,255,0.9);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-top: 200px;
}