/* Header */
.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo-2 .large-header {
    background-image: url('../img/demo-2-bg.jpg');
    background-position: center bottom;
}

.main-title {
    max-width: 600px;
    min-width: 500px;
    position: absolute;
    color: #000;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.9);
    padding: 0 40px 40px 40px;
}

.demo-2 .main-title {
    font-weight: normal;
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    line-height: 40px;
}

.demo-2 .main-title::before {
    content: '';
    width: 20vw;
    height: 20vw;
    min-width: 3.5em;
    min-height: 3.5em;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .demo-2 .main-title {
        font-size: 4em;
    }
}