.allinfo-title{
    height: 100px;
    width:100%;
    background: #00b388;
    color: #FFFFFF;
    line-height: 100px;
}

.allinfo-title h1{
    line-height: 100px;
    font-size: 32px;
}

.allinfo-bg{
    padding: 20px;
}

.td-width-90{
    width: 90px;
}